.inbetween {
    height: 10px;
}

.inbetween-hover {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  height: 30px;

}

.inbetween-line {
    /* background-color: var(--mantine-color-white-8); */
    height: 2px;
    width: 100%;
    border-bottom: dotted 2px var(--mantine-color-white-8)
}

.inbetween-arrow-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
}

.arrow {
    border: solid var(--mantine-color-white-8);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .up {
    transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
  }
  