.colorPickerBorder {
	background-color: light-dark(
		var(--mantine-color-gray-4),
		var(--mantine-color-dark-8)
	);
	padding: 5px;
	border-radius: 5px;
}

.colorPickerButton {
	border-color: light-dark(
		var(--mantine-color-gray-4),
		var(--mantine-color-dark-8)
	) !important;
}
