.ingredientModal {
	[class*="mantine-Input-wrapper"] {
		background-color: var(--mantine-color-white-5);
		border: 2px solid var(--mantine-color-white-5);
		border-bottom: 2px solid var(--accent-color-4);
		&:focus-within {
			border: 2px solid var(--accent-color-4);
			border-radius: 3px;
		}
		&:has(+ [class*="mantine-InputWrapper-error"]) {
			border: 2px solid red;
			border-radius: 3px;
		}
	}

	[class*="mantine-InputWrapper-error"] {
		font-weight: 600;
	}

	label {
		font-weight: bold;
		font-size: 12px;
		/* color: black; */
	}

	[class*="mantine-Input-input"] {
		background-color: var(--mantine-color-white-5);
		border: none;
		padding: 8px;
		color: black;
	}
}

.amountField {
	[class*="mantine-TextInput-input"] {
		text-align: right;
	}
}
