.infoList {
	display: table;
	width: 100%;
}

.infoListRow {
	display: table-row;
	border-bottom: 1px solid rgb(255, 0, 0);
	dt {
		display: table-cell;
		font-weight: bold;
		padding-bottom: 10px;
		&::after {
			content: ":";
		}
	}
	dd {
		margin-left: auto;
		display: table-cell;
		text-align: right;
	}
}

.uploadButton,
.uploadButton:hover {
	height: 40vh;
	width: 100%;
	border: 2px solid var(--primary-color-4);
	color: var(--primary-color-4);
	fill: var(--primary-color-4);
}

.uploadButtonError,
.uploadButtonError:hover {
	height: 40vh;
	width: 100%;
	border: 2px solid red;
	color: red;
	fill: red;
}

.uploadButtonChosen,
.uploadButtonChosen:hover {
	height: 32px;
	width: fit-content;
	margin-left: auto;
}
